  <main class="container"> 
    <aside>
      <section class="user-section">
        <div class="user-section-box">
          <div class="user-img">
            <img src="https://picsum.photos/500" alt="">
          </div>
          <div class="user-details">
            <h4>Foydalanuvchi haqida malumot</h4>
            <p><span>zyusupov51</span> </p>
            <h4>Qo'shimcha malumotlar</h4>
            <hr>
            <p>Username:<span> Z Yusupov</span></p>
            <p>Guruh raqami: <span>144</span></p>
            <div class="id-andcount">
              <p>Id: <span>398498</span></p>
              <p>E'lonlar soni: <span>45</span></p>
            </div>
          </div>
        </div>
      </section>
      <section class="section-project">
        <div class="project-text-box">
          <p>Foydalanuvchining joylagan oxirgi loyihalari</p>
        </div>
        
          </div>
      </section>
      <section class="projects-section">
        <div class="projects-row">
          <div class="projects-card">
            <div class="projects-card-img">
              <img src="https://picsum.photos/400" alt="">
              <a href="" >
                <i class="las la-arrow-circle-right"></i>
              </a>
            </div>
            <div class="projects-card-header">
              <div class="pro-header-link">
                <a href="">Node js</a>
              </div>
              <div class="pro-header-author">
                <div class="pro-author-img">
                  <img src="https://picsum.photos/400" alt="">
                </div>
                <p class="author-name">Z Yusupov</p>
              </div>
            </div>
            <div class="projects-title">
              <h5>Node Express</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, temporibus?</p>
            </div>
            <div class="projects-footer">
              <div class="likes-comments">
                <div class="likes">
                  <i class="las la-heart"></i>
                  <p class="like-count">7877</p>
                </div>
                <div class="comments">
                  <i class="las la-comments"></i>
                  <p class="comments-count">7877</p>
                </div>
              </div>
              <a href="" class="show-project">SHow project</a>
            </div>
          </div>
          <div class="projects-card">
            <div class="projects-card-img">
              <img src="https://picsum.photos/400" alt="">
              <a href="" >
                <i class="las la-arrow-circle-right"></i>
              </a>
            </div>
            <div class="projects-card-header">
              <div class="pro-header-link">
                <a href="">Node js</a>
              </div>
              <div class="pro-header-author">
                <div class="pro-author-img">
                  <img src="https://picsum.photos/400" alt="">
                </div>
                <p class="author-name">Z Yusupov</p>
              </div>
            </div>
            <div class="projects-title">
              <h5>Node Express</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, temporibus?</p>
            </div>
            <div class="projects-footer">
              <div class="likes-comments">
                <div class="likes">
                  <i class="las la-heart"></i>
                  <p class="like-count">7877</p>
                </div>
                <div class="comments">
                  <i class="las la-comments"></i>
                  <p class="comments-count">7877</p>
                </div>
              </div>
              <a href="" class="show-project">SHow project</a>
            </div>
          </div>
          <div class="projects-card">
            <div class="projects-card-img">
              <img src="https://picsum.photos/400" alt="">
              <a href="" >
                <i class="las la-arrow-circle-right"></i>
              </a>
            </div>
            <div class="projects-card-header">
              <div class="pro-header-link">
                <a href="">Node js</a>
              </div>
              <div class="pro-header-author">
                <div class="pro-author-img">
                  <img src="https://picsum.photos/400" alt="">
                </div>
                <p class="author-name">Z Yusupov</p>
              </div>
            </div>
            <div class="projects-title">
              <h5>Node Express</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, temporibus?</p>
            </div>
            <div class="projects-footer">
              <div class="likes-comments">
                <div class="likes">
                  <i class="las la-heart"></i>
                  <p class="like-count">7877</p>
                </div>
                <div class="comments">
                  <i class="las la-comments"></i>
                  <p class="comments-count">7877</p>
                </div>
              </div>
              <a href="" class="show-project">SHow project</a>
            </div>
          </div>
          <div class="projects-card">
            <div class="projects-card-img">
              <img src="https://picsum.photos/400" alt="">
              <a href="" >
                <i class="las la-arrow-circle-right"></i>
              </a>
            </div>
            <div class="projects-card-header">
              <div class="pro-header-link">
                <a href="">Node js</a>
              </div>
              <div class="pro-header-author">
                <div class="pro-author-img">
                  <img src="https://picsum.photos/400" alt="">
                </div>
                <p class="author-name">Z Yusupov</p>
              </div>
            </div>
            <div class="projects-title">
              <h5>Node Express</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, temporibus?</p>
            </div>
            <div class="projects-footer">
              <div class="likes-comments">
                <div class="likes">
                  <i class="las la-heart"></i>
                  <p class="like-count">7877</p>
                </div>
                <div class="comments">
                  <i class="las la-comments"></i>
                  <p class="comments-count">7877</p>
                </div>
              </div>
              <a href="" class="show-project">SHow project</a>
            </div>
          </div>
          <div class="projects-card">
            <div class="projects-card-img">
              <img src="https://picsum.photos/400" alt="">
              <a href="" >
                <i class="las la-arrow-circle-right"></i>
              </a>
            </div>
            <div class="projects-card-header">
              <div class="pro-header-link">
                <a href="">Node js</a>
              </div>
              <div class="pro-header-author">
                <div class="pro-author-img">
                  <img src="https://picsum.photos/400" alt="">
                </div>
                <p class="author-name">Z Yusupov</p>
              </div>
            </div>
            <div class="projects-title">
              <h5>Node Express</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, temporibus?</p>
            </div>
            <div class="projects-footer">
              <div class="likes-comments">
                <div class="likes">
                  <i class="las la-heart"></i>
                  <p class="like-count">7877</p>
                </div>
                <div class="comments">
                  <i class="las la-comments"></i>
                  <p class="comments-count">7877</p>
                </div>
              </div>
              <a href="" class="show-project">SHow project</a>
            </div>
          </div>
          <div class="projects-card">
            <div class="projects-card-img">
              <img src="https://picsum.photos/400" alt="">
              <a href="" >
                <i class="las la-arrow-circle-right"></i>
              </a>
            </div>
            <div class="projects-card-header">
              <div class="pro-header-link">
                <a href="">Node js</a>
              </div>
              <div class="pro-header-author">
                <div class="pro-author-img">
                  <img src="https://picsum.photos/400" alt="">
                </div>
                <p class="author-name">Z Yusupov</p>
              </div>
            </div>
            <div class="projects-title">
              <h5>Node Express</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, temporibus?</p>
            </div>
            <div class="projects-footer">
              <div class="likes-comments">
                <div class="likes">
                  <i class="las la-heart"></i>
                  <p class="like-count">7877</p>
                </div>
                <div class="comments">
                  <i class="las la-comments"></i>
                  <p class="comments-count">7877</p>
                </div>
              </div>
              <a href="one-project.html" class="show-project">SHow project</a>
            </div>
          </div>
        </div>
    </section>
    </aside>
  </main>