  <footer class="container">
    <h3>DATA</h3>
    <div class="footer-top">
      <ul class="footer-top-left">
        <li>Coureses</li>
        <li ><a class="footer-link" href="">Data language</a></li>
        <li ><a class="footer-link" href="">Data language</a></li>
        <li ><a class="footer-link" href="">Data language</a></li>
        <li ><a class="footer-link" href="">Data language</a></li>
      </ul>
      <ul class="footer-top-middle">
        <li>Coureses</li>
        <li><a class="footer-link" href="">Data language</a></li>
        <li><a class="footer-link" href="">Data language</a></li>
        <li><a class="footer-link" href="">Data language</a></li>
        <li><a class="footer-link" href="">Data language</a></li>
      </ul>
      <ul class="footer-top-right">
        <li>Coureses</li>
        <li><a class="footer-link" href="">Data language</a></li>
        <li><a class="footer-link" href="">Data language</a></li>
        <li><a class="footer-link" href="">Data language</a></li>
        <li><a class="footer-link" href="">Data language</a></li>
      </ul>
    </div>

    <div class="footer-bottom">
      <div class="footer-author">
        <p>@2022</p>
        <a href="">&copy; Zokir Yusupov</a>
      </div>
      <div class="footer-social">
        <a href="" class="lab la-instagram">  </a>
        <a href=""  class="lab la-youtube"></a>
        <a href="" class="lab la-telegram"></a>
      </div>
    </div>
  </footer>