  <main class="container"> 
    <aside>
      <section class="user-form">
        <h3>Login</h3>
        <form action="/auth/login" method="post">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="zyusupov51@gmail.com">
          <label for="password">Parolni kiriting</label>
          <div class="password-container">
            <input type="password" placeholder="Password..." id="password" name="password">
            <i class="lar la-eye" id="eye"></i>
          </div>


          <input type="submit" value="Login">
        </form>
      </section>
    </aside>
  </main>